@import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container-fluid {
  padding: 0;
}

/*start of landing page*/

#landingPage {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  position: relative;
  height: 100vh;
}

/*start of header*/
#header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
}

.navMenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.nav-item {
  margin-right: 4rem;
}

.nav-item a {
  color: rgb(219, 175, 63);
  font-size: 2.5rem;
}

.nav-item a:hover {
  text-decoration: none;
  color: white;
}

#header .fa-pizza-slice {
  font-size: 5rem;
  z-index: 10000;
  color: rgb(219, 175, 63);
  cursor: pointer;
  display: none;
}

#header-active {
  background: #333;
  height: 6rem;
}

#header-active nav ul {
  margin: 0;
}

.fa-moon {
  font-size: 2rem;
  color: rgb(219, 175, 63);
  cursor: pointer;
}

#hotelName {
  font-size: 30px;
  color: white;
  font-family: "Gill Sans";
  letter-spacing: 0.5em;
}
/*end of header*/

#homeTitle {
  text-align: center;
  position: relative;
  top: 25%;
}

h1 {
  font-size: 10rem;
  font-family: "Amita", cursive;
  font-weight: bolder;
  color: rgb(219, 175, 63);
  text-shadow: 0.1rem 0.1rem 0.3rem #333;
}

h2 {
  font-size: 3rem;
  font-family: "Amita", cursive;
  color: white;
}

button {
  font-size: 2rem;
  font-family: fantasy;
  font-weight: bold;
  border: none;
  padding: 0.5em 2em;
  margin-top: 3em;
  cursor: pointer;
  background-color: rgb(219, 175, 63);
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  object-fit: cover;
}

.image-container #img1 {
  display: block;
}

.controls {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  background: rgb(219, 175, 63);
  margin: 0 1rem;
}

.dots:hover {
  background: white;
}

@media (max-width: 600px) {
  #landingPage {
    width: max-content;
  }
}

@media (max-width: 1100px) {
  /*start of header media query*/
  #header .fa-pizza-slice {
    display: block;
  }

  #header nav {
    position: fixed;
    top: 0;
    left: -120%;
    height: 100vh;
    width: 35rem;
    background: #000;
  }

  .navMenu {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 75%;
  }

  .nav-item {
    margin: 2rem 0;
  }

  .nav-item a {
    font-size: 3rem;
    border-radius: 3rem;
    color: white;
  }

  .nav-item a:hover {
    padding: 0.5rem 7.5rem;
    color: #333;
    background: rgb(219, 175, 63);
  }

  #hotelName {
    letter-spacing: 1em;
  }

  #header .nav-toggle {
    left: 0%;
  }

  .nav-toggle {
    left: 0%;
  }
  /*end of header media query*/
}
