@import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Monda&family=Paytone+One&display=swap");
* {
  font-family: "Exo 2", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Monda", sans-serif;
  font-weight: 300px;
  scroll-behavior: smooth;
}

.container-fluid {
  padding: 0;
}

p {
  font-size: 24px;
}

body.dark-theme {
  background-color: #1d2521;
  color: #fff;
}

/*start of landing page*/

#landingPage {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  position: relative;
  height: 100vh;
}

/*start of header*/
#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  z-index: 1000;
}

.navMenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.nav-item {
  margin-right: 4rem;
}

.nav-item a {
  color: rgb(219, 175, 63);
  font-size: 2.5rem;
}

.nav-item a:hover {
  text-decoration: none;
  color: white;
}

#header .fa-pizza-slice {
  font-size: 6rem;
  z-index: 10000;
  color: rgb(219, 175, 63);
  cursor: pointer;
  display: none;
}

.fa-moon {
  font-size: 2rem;
  color: rgb(219, 175, 63);
  cursor: pointer;
}

#hotelName {
  font-size: 26px;
  color: white;
  font-family: "Gill Sans";
  letter-spacing: 0.5em;
}

.header-active {
  background: #333;
  height: 6rem;
  box-shadow: 0.2rem 0 0.5rem #000;
}

.header-active .navMenu {
  margin: 0;
}
/*end of header*/

/*landing page body section*/
#homeTitle {
  text-align: center;
  position: relative;
  top: 30%;
}

h1 {
  font-size: 10rem;
  font-family: "Amita", cursive;
  font-weight: bolder;
  color: rgb(219, 175, 63);
  text-shadow: 0.1rem 0.1rem 0.3rem #333;
}

h2 {
  font-size: 3rem;
  font-family: "Amita", cursive;
  color: white;
}

button {
  font-size: 2rem;
  font-family: fantasy;
  font-weight: bold;
  border: none;
  padding: 0.5em 2em;
  margin-top: 3em;
  cursor: pointer;
  background-color: rgb(219, 175, 63);
}

button:hover {
  letter-spacing: 4px;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  object-fit: cover;
}

.image-container #img1 {
  display: block;
}

.image-container #img2 {
  display: none;
}

.image-container #img3 {
  display: none;
}

.controls {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  background: rgb(219, 175, 63);
  margin: 0 1rem;
}

.dots:hover {
  background: white;
}
/*end of landing page body section*/

/*end of landing page*/

/*about-us section*/
#about {
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#aboutTitle {
  margin-top: 15em;
  line-height: 2;
}

h3 {
  font-size: 5rem;
  font-family: "Paytone One", sans-serif;
  color: rgb(219, 175, 63);
  margin-bottom: 1em;
  text-align: center;
}

#lady {
  margin-top: 3em;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  object-fit: cover;
}
/*end of about us section*/

/*menu*/
#menu {
  text-align: center;
}

.card-container {
  width: 100%;
  margin: 7rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  height: 60rem;
  width: 45rem;
  background: #fff;
  padding: 1rem;
  margin: 2rem;
  text-align: center;
}

.card-title {
  font-size: 2rem;
  font-family: "Amita", cursive;
  font-weight: bolder;
  color: black;
  text-shadow: 0.1rem 0.1rem 0.3rem #333;
}

.card img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}

.card p {
  font-size: 1.6rem;
  margin: 2rem 0;
}

.price {
  font-size: 2rem;
  font-family: "Amita", cursive;
  font-weight: bolder;
  color: white;
  text-shadow: 0.1rem 0.1rem 0.3rem #333;
  transition: 0.5s ease;
  visibility: hidden;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*end of menu*/

/*order section*/

#order {
  height: 100vh;
  border: 2px groove rgb(248, 248, 15);
  font-family: "Monda", sans-serif;
  font-weight: 300px;
  font-size: 22px;
}

#show-orders {
  display: none;
}

.order {
  cursor: pointer;
  color: #0088cc;
}

.order:hover {
  text-decoration: underline;
}

/*start of contact section*/
#contact {
  height: 92vh;
  text-align: center;
  display: block;
}

#card-content {
  padding-inline: 18rem;
}

.form-control {
  margin: 5em;
}

#submitBtn {
  padding: 0.5em 2em;
  margin-top: 2em;
  background: rgb(76, 126, 173);
}

#submitBtn:hover {
  background: rgb(219, 175, 63);
  color: #000;
}

/*end of contact section*/

@media (max-width: 1100px) {
  html {
    font-size: 50%;
  }

  #pizza {
    width: fit-content;
  }

  /*start of header media query*/
  #header .fa-pizza-slice {
    display: block;
  }

  #header nav {
    position: fixed;
    top: 0;
    left: -120%;
    height: 100vh;
    width: 35rem;
    background: #000;
  }

  .navMenu {
    flex-flow: column;
    justify-content: center;
    height: 100%;
  }

  .nav-item {
    margin: 2rem 0;
  }

  .nav-item a {
    font-size: 3.5rem;
    border-radius: 5rem;
    color: white;
  }

  .nav-item a:hover {
    padding: 0.5rem 7.5rem;
    color: #333;
    background: rgb(219, 175, 63);
  }

  .fa-moon {
    position: relative;
    top: -58%;
    padding-inline-start: 10em;
  }

  #hotelName {
    letter-spacing: 1em;
  }

  #header .nav-toggle {
    left: 0%;
  }

  /*end of header media query*/

  #aboutTitle {
    margin-top: 8em;
  }
}
